section.short_about 
  .section_in 
    .short_about--main 
      .short_about--txt 
        p!='<span>«Floroom»</span> - это не только изящные и стильные букеты, это еще и доступные цены. Мы сохраняем приемлемую стоимость на букеты, чтобы каждый житель Краснодара мог порадовать близких в важный момент. Наши опытные флористы могут воплотить в жизнь самые разные идеи и заказы, чтобы букет цветов стал настоящим произведением искусства и шедевром флористики. Мы стараемся делать композиции оригинальными и уникальными и используем самые актуальные тренды. На нашем сайте Вы точно подберете идеальную композицию для любого повода и формата праздника. С помощью наших композиций можно признаться в любви. Выразить признание, благодарность, уважение и сказать о самых важных чувствах без лишних слов. Букеты из роз, тюльпанов, хризантем, ирисов, гвоздик и т. д. Покорят в самое сердце Вашу возлюбленную, жену, маму, бабушку, друга или коллегу.'
      .short_about--img 
        img(src="i/about.jpg")
