section.hero
	.section_in
		.hero_main 
			.hero-slider.swiper-container 
				.swiper-wrapper 
					.swiper-slide 
						.hero_slide 
							.hero_slide--c 
								h1 Бесплатное фото вашего букета до доставки!
								p Отправляем фото букета до доставки!
								.hero_slide--btn 
									a(href="#") в каталог
							.hero_slide--img 
								img(src="i/hero.png")
					.swiper-slide 
						.hero_slide 
							.hero_slide--c 
								h1 Бесплатное фото вашего букета до доставки!
								p Отправляем фото букета до доставки!
								.hero_slide--btn 
									a(href="#") в каталог
							.hero_slide--img 
								img(src="i/hero.png")
					.swiper-slide 
						.hero_slide 
							.hero_slide--c 
								h1 Бесплатное фото вашего букета до доставки!
								p Отправляем фото букета до доставки!
								.hero_slide--btn 
									a(href="#") в каталог
							.hero_slide--img 
								img(src="i/hero.png")
					.swiper-slide 
						.hero_slide 
							.hero_slide--c 
								h1 Бесплатное фото вашего букета до доставки!
								p Отправляем фото букета до доставки!
								.hero_slide--btn 
									a(href="#") в каталог
							.hero_slide--img 
								img(src="i/hero.png")
				.hero_pug 
				.hero_nav 
					.hero_nav--btn.prev 
						+icon('prev')
					.hero_nav--btn.next 
						+icon('next')
		.hero_subtitle 
			h2 ДОСТАВКА ЦВЕТОВ В РОСТОВЕ-НА-ДОНУ