.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-cart {
	font-size:(16/10)*1rem;
	width:(22/16)*1em;
}
.icon-check {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-delete {
	font-size:(29/10)*1rem;
	width:(25/29)*1em;
}
.icon-empty {
	font-size:(45.44/10)*1rem;
	width:(45.44/45.44)*1em;
}
.icon-inst {
	font-size:(25/10)*1rem;
	width:(24/25)*1em;
}
.icon-like {
	font-size:(30/10)*1rem;
	width:(35/30)*1em;
}
.icon-map {
	font-size:(28/10)*1rem;
	width:(27/28)*1em;
}
.icon-minus {
	font-size:(2/10)*1rem;
	width:(16/2)*1em;
}
.icon-next {
	font-size:(9/10)*1rem;
	width:(8/9)*1em;
}
.icon-photo {
	font-size:(17/10)*1rem;
	width:(22/17)*1em;
}
.icon-plus {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-prev {
	font-size:(9/10)*1rem;
	width:(8/9)*1em;
}
.icon-star {
	font-size:(19/10)*1rem;
	width:(20/19)*1em;
}
.icon-tel {
	font-size:(22/10)*1rem;
	width:(21/22)*1em;
}
.icon-whatsapp {
	font-size:(26/10)*1rem;
	width:(25/26)*1em;
}
