section.filter
	.section_in 
		.filter_main
			ul.filter_list 
				li 
					select(name="price")
						option(value="Все") Цена...
						option(value="до 2 000") до 2 000
						option(value="2 000 - 3 500") 2 000 - 3 500
						option(value="3 500 - 5 000") 3 500 - 5 000
						option(value="5 000 - 7 500") 5 000 - 7 500
				li 
					select(name="price")
						option(value="Все") Цветы...
						option(value="до 2 000") до 2 000
						option(value="2 000 - 3 500") 2 000 - 3 500
						option(value="3 500 - 5 000") 3 500 - 5 000
						option(value="5 000 - 7 500") 5 000 - 7 500
				li 
					select(name="price")
						option(value="Все") Кому...
						option(value="до 2 000") до 2 000
						option(value="2 000 - 3 500") 2 000 - 3 500
						option(value="3 500 - 5 000") 3 500 - 5 000
						option(value="5 000 - 7 500") 5 000 - 7 500
				li 
					select(name="price")
						option(value="Все") Повод...
						option(value="до 2 000") до 2 000
						option(value="2 000 - 3 500") 2 000 - 3 500
						option(value="3 500 - 5 000") 3 500 - 5 000
						option(value="5 000 - 7 500") 5 000 - 7 500
				li 
					select(name="price")
						option(value="Все") Стиль...
						option(value="до 2 000") до 2 000
						option(value="2 000 - 3 500") 2 000 - 3 500
						option(value="3 500 - 5 000") 3 500 - 5 000
						option(value="5 000 - 7 500") 5 000 - 7 500