section.manual 
  .section_in 
    .manual_main 
      ul.manual_list 
        -
          var manual = [
            {
            title: 'Как сделать заказ?',
            txt: 'Купить цветы в Ростове-на-дону очень просто! Выберите понравившийся букет и оформите доставку в несколько простых шагов. Вы также можете сделать заказ через позвонить нам по номеру 8 (989) 511-12-14.',
            },
            {
            title: 'Как мы делаем букеты?',
            txt: 'После того, как вы сделали заказ, мы приступаем к сборке букета. Флористы отбирают лучшие цветы и составляют букет с учётом ваших пожеланий. Композиция может быть дополнена красивой упаковкой, тематическим топпером или декоративными элементами. Чтобы гарантировать свежесть букета, мы еженедельно покупаем цветы напрямую с плантаций.',
            },
            {
            title: 'Доставка получателю',
            txt: 'Наши курьеры в Ростове-на-дону безупречно вежливы и пунктуально доставляют заказ в любую точку города. Мы можем вручить цветы получателю дома, в офис, в кафе, кинотеатре, торговом центре, отеле или прямо на торжественном мероприятии.',
            }
          ]
        each item in manual
          li 
            .manual_item--title 
              p=item.title 
            .manual_item--txt 
              p=item.txt
      .manual_img--w 
        img(src="i/about.jpg")